* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    overflow: auto;
    height:297mm;
    width:210mm;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: #34ADFF;
    background-image: -webkit-linear-gradient(290deg, rgb(239, 220, 220) 45%,rgb(125, 208, 217) 45%);
    max-height: 100vh;
}

a{
    font-size: 15px;
    text-decoration: none;
    line-height: 1.5;
    
}
.left{
    display: flex;
    justify-content: center;
    border-right: 7px solid black;
    position:relative;
    width: 35%;
    background:rgb(125, 208, 217);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.left a{
    font-size: 20px;
}

.right{
    background: black;
    background-size: 400% 400%;
    display:relative;
    width: 65%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.left_info{
    width: 17%;
    position:fixed;
    height: 58%;
    border-bottom:  10px double black;
}

.info{
    text-align: left;
    position: relative;
    width: 100%;
    height: 30%;
    padding-left: 35px;
}

.info a{
    line-height: 140%;
    font-size:18px;
}
.contacts{
    top: 5%;
    position: relative;
    width: 100%;
    padding: 30px 20px;
}

.phone{
    display: flex;
    align-items: center;
}

.phone_pic{
    margin-right: 15px;
    height: 35px;
}

.email{
    display: flex;
    align-items: center;
}

.email_pic{
    margin-right: 15px;
    height: 35px;
}

.pic{
    margin-top:10px ;
    display: flex;
    justify-content: center;
    height: 60%;
}

.me{
    width: 200px; 
    height: 250px; 
    display: row;
    border: 10px;
    border-radius: 20px;
}

.social_media{
    padding-left: 10px;
    position: fixed;
    width: 250px; 
    height: 100px; 
    box-sizing: border-box;
    top: 77%;
}


.social_media a:hover{
    border-radius: 5px;
    font-size: 55px;
    transition: 0.25s;
}

.square{
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 5px;
    position: fixed;
    z-index: -1;
    width: 0;
    height: 0;
    border: 22px solid rgb(223, 220, 184);
}

.downloads{
    position:fixed;
    top: 93%;
    width: 270px; 
    height: 100px;
    display: inline-flex;
    justify-content: space-around
}
.download1,.download2{
    height: 30px;
    width: 80px;  
    align-items: center;
    display: flex;
    justify-content: center;
    border: rgb(107, 109, 226) 3px solid;
    background: #87b8d8;
    border-radius: 10px;
}

.download1:hover,.download2:hover{
    background: white;
    border:black 3px solid;
}

.download1 a,.download2 a{
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.download1 a:hover.download2 a:hover{
    font-size: 17px;
    transition: 0.5s;
}

.download_pic{
    margin-right: 8px;
    height: 30px;
    width: 30px;
}

.download_pic:hover{
    height: 33px;
    width: 33px;

}

.intro{
    padding: 20px;
    display:relative;
    width: 100%;
    height:200px;
}

.interests{
    padding: 20px;
    display:relative;
    width: 100%;
    height:135px;
}

.skill_language{
    height: 200px;
    display: flex;
    flex-direction: row;
}

.language{
    padding: 20px;
    padding-left: 25px;
    width: 50%;
    height:200px;
}

.skill{
    padding:20px;
    padding-left: 25px;
    width: 50%;
    height:200px;
}
.education_job{
    height: 200px;
    display: flex;
    flex-direction: row;
}
.education{
    padding: 20px;
    padding-left: 25px;
    width: 50%;
}
.job{
    padding: 20px;
    padding-left: 25px;
    width: 50%;
    height:200px;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    height: 7px ;
    background: linear-gradient( to right,rgb(133, 116, 209),pink);
}
  
.star {
    display: inline-block;
    color: gray;
    font-size: 23px;
    cursor: pointer;
    position: relative; 
}

.filled{
    color: gold;
  }

.half::before{
    content: "\2605";
    position: absolute;
    width: 50%;
    overflow: hidden;
    color: gold;
}

.job a{
    font-size: 18px;
}

form{
    color: #000;
    position: fixed;
    right:10px;
    bottom: 10px;
}

#Comments{
    border-radius: 20px;
    margin-left: -10px;
    border: 3px dotted grey;
    padding-left: 10px;
}

#switch{
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    top:10px;
    right: 10px;
    border-radius: 5px;
}

#switch:hover{
    font-size: 22px;
    transition: 0.5s ease;
}

#back{
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    top:10px;
    left: 10px;
    border-radius: 5px;
}

#back:hover{
    font-size: 22px;
    transition: 0.5s ease;
}